name: Redeploy Manually

on:
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      contents: read # for checkout
    runs-on: ubuntu-latest
    environment:
      name: ocio-edso-gh-actions-app
    steps:
      - name: Checkout the codebase
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm clean-install

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures

      - name: Set up Podman
        run: |
          # Install Podman (if not already installed)
          if ! command -v podman &> /dev/null; then
            sudo apt update
            sudo apt install -y podman
          fi
          # Display Podman version
          podman --version
        shell: bash

      - name: Generate tars
        run: |
          bash build.sh

      - name: Generate checksum
        env:
          IMAGE_NAME: 'ubuntu-24.04-cdc.tar'
        run: |
          sha256sum "$IMAGE_NAME" > checksums.txt
        working-directory: ./images

      ## The default Github token does not provide a way for semantic release
      ## to publish to a protected branch without having an administrative bot
      ## account with bypass options within the repository's settings.
      ## https://github.com/orgs/community/discussions/25305
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Release
        if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: '${{ steps.app-token.outputs.token }}'
          GITHUB_TOKEN: '${{ steps.app-token.outputs.token }}'
        run: |
          npx semantic-release
